div#album_list {
/*	background-color: #0000FF; */
}

div#album_thumb {
/*	background-color: #00FFFF; */
	float: left;
	padding: 15px 15px 15px 15px;
/*	border: medium solid rgb(0,255,50); */
	width: 250px;
	height: 120px;
}

a:hover   { color: #7c8b2c; font-weight: bold; text-decoration: none }

div#album_thumb img {
	border: none;
}

div#album_thumb_image {
	float: left;
	padding: 0px 15px 0px 0px;
}

div#track_thumb {
	float: left;
	width: 125px;
	padding: 15px 15px 15px 15px;
}

div#signature {
	clear: both;
	font-size: 9px;
	text-align: right;
}

.myBox2Wide
{
    border: 3px solid #e5e9cc;
    text-align: left;
	top: -1px;
	padding: 9px;
	left: 12px;
	width: 580px;
	background-color: #f5f5f8;
}

table.contentpaneopenWide {
  width: 570px;
	border-collapse: collapse;
	border-spacing: 0px;
	position: relative;
	display: block;
}






