div#album_list {
/*	background-color: #0000FF; */
}

div#album_thumb {
/*	background-color: #00FFFF; */
	float: left;
	padding: 15px 15px 15px 15px;
/*	border: medium solid rgb(0,255,50); */
	width: 300px;
	height: 120px;
}

a:hover   { color: #7c8b2c; font-weight: bold; text-decoration: none }

div#album_thumb img {
	border: none;
}

div#album_thumb_image {
	float: left;
	padding: 0px 15px 0px 0px;
	width: 110px;
	height: 110px;
}

div#track_thumb {
	float: left;
	width: 125px;
	padding: 15px 15px 15px 15px;
}

div.product_thumb {
	float: left;
	padding: 15px 15px 15px 15px;
/*	border: medium solid rgb(0,255,50); */
	width: 300px;
	height: 120px;
}

div.product_thumb_image {
	float: left;
	padding: 0px 15px 0px 0px;
	width: 110px;
	height: 110px;
}

div.product_thumb img {
	border: none;
}

div#signature {
	clear: both;
	font-size: 9px;
	text-align: right;
}

.edit {
	float: right;
}



